body {

background-color: #FFFAF0; /* A light white background color */
font-family: 'Open Sans', serif;

}

.employee {
width: 400px;
border-style: solid;
border-color: #215D7F; /*dark moderate blue*/
border-width: 3px;
display: block;
padding: 20px;
margin: 20px;

}

#employeeInfo {

font-family: 'Open Sans', serif;
background-color: #3BA7E5; /*dark moderate blue*/
border-radius: 5px;
padding: 20px;
margin: 20px;


}



#employeeData {

background-color: #87CEFA;  /*light bluish yellow*/
font-family: 'Open Sans', serif;
border-radius: 10px;
padding: 20px;
margin: 20px;

}


#employeeMonthlySalary {

background-color: #318BBF; /*light bluish yellow*/
font-family: 'Open Sans', serif;
border-radius: 10px;
padding: 20px;
margin: 20px;
width: 75px;
}

h4 {

margin: 30px;

}
